* {
    padding: 0;
    margin: 0;
}

/*************/
/*****FLEX****/
/*************/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.item-1 {
    order: 1;
}

.item-2 {
    order: 2;
}

.center-y {
    display: flex;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
    text-align: center;
}

.just-end {
    justify-content: flex-end;
}

/***************/
/*****HEADER****/
/***************/

.header-bar {
    position: fixed;
    top: 0;
    left: 250px;
    padding: 0 27px;
    height: 65px;
    width: calc(100% - 300px);
    z-index: 1;
}

.profile-img {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    padding: 0;
    margin-right: 7px;
}

.profile-button {
    padding: 2px;
    border-radius: 48px;
    width: 185px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 7px;
}

@media (max-width: 768px) {
    .profile-button {
        font-size: 0;
    }

    .profile-button {
        width: 54px;
    }
}

.nav-button {
    width: 32px;
    height: 32px;
    font-size: 22px;
    padding: 0 !important;
    margin: 7px;
}

/***************/
/*****SIDE******/
/***************/

.left-side-bar {
    position: fixed;
    width: 200px;
    height: 100vh;
    padding: 25px;
}

.side-links {
    margin: 18px 0;
    padding-bottom: 10px;
}

.side-links li {
    padding: 7px 0;
}

.side-links i {
    font-size: 22px;
    margin-right: 16px;
}

.music-links {
    padding: 6px 0;
    margin-bottom: 6px;
}

.music-links li {
    padding: 7px 0;
}

.music-links i, .install-link i {
    font-size: 22px;
    margin-right: 16px;
}

.playlists li {
    padding: 10px 0;
}

.playlists a {
    font-size: 12px;
    font-weight: 400;
}

.install-link {
    position: fixed;
    bottom: 95px;
    padding: 10px 0;
}

/***************/
/*****MAIN******/
/***************/
main {
    position: relative;
    left: 250px;
    padding: 0 35px;
    padding-top: 65px;
    width: calc(100% - 320px);
    max-width: calc(100% - 320px);
}

h1 {
    font-size: 28px;
    margin: 20px 0;
}

h2 {
    font-size: 22px;
    margin: 20px 0;
}

/***************/
/*****CARDS*****/
/***************/
#playlist-cards, #program-cards {
    padding: 5px 0;
}

.card-horizontal {
    height: 80px;
    min-width: 250px;
    border-radius: 5px;
}

.card-horizontal .card-text {
    text-align: center !important;
}

.card-horizontal p {
    position: relative;
    left: 100px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card-horizontal i {
    display: none;
}

.card-horizontal:hover i {
    display: block;
    position: absolute;
    border-radius: 50%;
    padding: 0 4px;
    font-size: 42px;
    margin-left: 238px;
}

@media (max-width: 992px) {
    .card-horizontal:hover i {
        display: none !important;
    }
}

.card-gap {
    gap: 15px 23px;
}

.card-box {
    height: 80px;
    border-radius: 5px;
    min-width: 160px;
    max-width: 166px;
    min-height: 256px;
    padding: 10px;
}

.card-box .gray-text {
    font-size: 14px !important;
    margin-top: 12px;
}

.card-box p {
    position: relative;
    top: 180px;
    font-weight: 600;
    letter-spacing: 1px;
}


/***************/
/*****FOOTER****/
/***************/
footer {
    position: relative;
    top: 100px;
    font-size: 15px;
}

footer ul li:nth-child(1) {
    font-weight: 600;
}

footer ul li {
    margin-bottom: 16px;
}

footer section:nth-child(1) {
    padding-bottom: 28px;
}

footer section:nth-child(2) {
    padding-top: 36px;
    padding-bottom: 156px;
    font-size: 13px;
    column-gap: 12px;
}

footer section:nth-child(2) p {
    margin-left: auto;
}

footer section div:nth-child(4) {
    padding-left: auto;
}

/***************/
/*****BOTTOM****/
/***************/

.bottom-bar {
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    height: 95px;
    width: calc(100% - 40px);
    font-size: 14px;
}

.bottom-bar i {
    font-size: 18px;
    margin: 0 6px;
}

.album-img {
    height: 60px;
    width: 60px;
    padding: 0;
}

.music-buttons i:nth-child(1), .music-buttons i:nth-child(9) {
    font-size: 20px;
}

.music-buttons i:nth-child(3), .music-buttons i:nth-child(7) {
    font-size: 26px;
}

.music-buttons i:nth-child(5) {
    font-size: 30px;
}

@media (max-width: 1060px) {
    .album-img {
        display: none;
    }

    #like-buttons i:nth-child(3) {
        display: none;
    }

    #volume-buttons i:nth-child(1), #volume-buttons i:nth-child(3), #volume-buttons i:nth-child(5) {
        display: none;
    }
}

@media (max-width: 886px) {
    #like-buttons {
        display: none;
    }

    #volume-buttons {
        display: none;
    }

    #music-data {
        display: none;
    }

    #range-music {
        font-size: 0 !important;
    }
}