:root {
    --background-color: #121212;
    --bottom-bar-bk-color: #181818;
    --gray-border: #282828;
    --header-bar-bk-color: #1E1E2C;
    --card-bk-color: #2D2D2D;
    --card-bk-hover: #424242;
    --green-color: #38BA58;
    --gray-text: #B3B3B3;
}

.mark * {
    border: 1px solid red;
}

.gray-text {
    font-weight: 400 !important;
    color: var(--gray-text);
}

.white-sub-hover:hover {
    color: white;
    text-decoration: underline;
}

.border-bottom {
    border-bottom: 1px solid var(--gray-border);
}

* {
    transition: 0.4s all;
}

a {
    color: var(--gray-text);
    text-decoration: none;
}

a:hover, .white-text {
    color: white;
}

ul {
    list-style: none;
}

html, body {
    background-color: var(--background-color);
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

button {
    outline: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

/***************/
/*****HEADER****/
/***************/
.header-bar {
    background-color: var(--header-bar-bk-color);
}

.profile-button {
    background-color: var(--gray-border);
}

.nav-button {
    background-color: var(--bottom-bar-bk-color);
    color: var(--gray-text);
}

/***************/
/*****SIDE******/
/***************/

.left-side-bar {
    background-color: black;
}

.left-side-bar a {
    color: var(--gray-text);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.left-side-bar a:hover {
    color: white;
}

.music-links {
    border-bottom: 1px solid var(--gray-border);
}

.install-link {
    background-color: black;
}

/***************/
/*****MAIN******/
/***************/

/***************/
/*****CARDS*****/
/***************/
.card-horizontal {
    background-color: var(--card-bk-color);
    cursor: pointer;
}

.card-horizontal:hover i {
    color: black;
    background-color: var(--green-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card-horizontal:hover {
    background-color: var(--card-bk-hover);
}

.img-card-horizontal {
    position: absolute;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 5px 0 0 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.3);
}

.card-box {
    background-color: var(--card-bk-color);
    cursor: pointer;
}

.card-box:hover {
    background-color: var(--card-bk-hover);
}

.img-card-box {
    position: absolute;
    border: none;
    width: 166px;
    height: 166px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/***************/
/*****FOOTER****/
/***************/
.social-button {
    background-color: var(--card-bk-color);
    font-size: 18px;
    padding: 12px;
    margin-left: 12px;
}

.social-button:hover {
    background-color: var(--card-bk-hover);
}

/***************/
/*****BOTTOM****/
/***************/

.bottom-bar {
    background-color: var(--bottom-bar-bk-color);
    border-top: 1px var(--gray-border) solid;
}

.bottom-bar i {
    color: var(--gray-text);
}

.bottom-bar i:hover {
    color: white;
}

.music-buttons i:nth-child(5) {
    color: white;
}


/***************/
/*****SCROLL****/
/***************/
body::-webkit-scrollbar {
    width: 0;
}
  
body::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 96px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--card-bk-hover);
    border: none;
}

/***************/
/*****RANGE*****/
/***************/
input[type="range"] {
    transition: 0s all !important;
    appearance: none;
    height: 4px;
    background: #5D5D5D;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#F3F3F3, #F3F3F3);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    margin: 5px;
}

input[type="range"]:hover {
    background-image: linear-gradient(var(--green-color), var(--green-color));
}

input[type="range"]::-webkit-slider-thumb {
    display: none;
}

input[type="range"]:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #F3F3F3;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

/***************/
/*****POPOVER***/
/***************/
.tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    display: none;
}

.tooltip[data-show] {
    display: block;
}

/***************/
/*****DROPDOWN**/
/***************/
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    background-color: var(--card-bk-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 3px;
    border-radius: 3px;
    width: 260px;
}

.dropdown-content li {
    padding: 12px 16px;
    display: block;
    font-size: 14px;
    border-radius: 3px;
    color: white;
}

.dropdown-content a {
    color: white;
    cursor: default;
}

.dropdown-content li:hover {
    background-color: var(--card-bk-hover)
}

.show {
    display:block;
}

#drop-menu i {
    position: absolute;
    right: 10px;
}